body{
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
}

/*---------------------------
         banner style 
------------------------- */

.banner{
    background-color: rgb(64, 28, 192);
    height: 374px;
    width: 100%;
}

.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width:  80%;
    height: 50px;
    margin: 0%;
    padding-right: 10px;
    font-size: 20px; 
    padding-top: 0px; 
}

.header a{
    text-decoration: none;
     color: white; 
    margin-right: 19px;
    border-radius: 3px;
    padding: 5px;
}

nav a:hover{
    color: rgba(192, 31, 31, 0.788);
    background-color: rgba(22, 10, 5, 0.774);
}

.header>span{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    width: 220px;
    height: 34px;
    left: 210px;
    text-decoration: none;
    color: white;
    background-color: #917b32;
    border-radius: 10px;  
} 

.title{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 0px;
    
}

.title h1{
    width: 27%;
    position: relative;
    bottom: 25px;
    font-size: 45px;
    word-wrap: wrap;
    text-align: left;
    color: white;  
    padding-left: 20px;  
}
.title img{
    width: 330px;
    padding-right: 200px;
}

.live{
    position: relative;
    left: 220px;
    bottom: 50px;
    font-size: 30px;
    padding: 5px 20px;
    border-radius: 20px;
    color: white;
    background-color: #E02C6D;
    text-decoration: none;
    align-items: center;  
}
/* -------------
player style 
---------------- */
.menu-container{
    display: grid;
    grid-template-columns: repeat( 3, 1fr);
    justify-content: center;
    align-items: center;
    grid-gap: 30px;
    margin-left: 28%;
    width: 600px;
    text-align: center;
    word-wrap: wrap;
    padding-top: 30px;
}
.player{
    background-color: #FFFFFF;
    height: 474px;
    width: 330px;
    margin-left: 10px;
    padding-right: 10px;
    box-shadow: 5px 5px 40px gray;
    text-shadow: none;

}

.player img{
    width: 300px;
    padding-left: 10px;
    padding-top: 15px;
}


